* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin: 5px;
    padding: 5px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    color: #7EC8E3;
}

img {
    width: 150px;
    border-radius: 25%;
}