* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', 'Helvetica';
    background: #fafafa;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin: 15px;
    padding: 5px;
    font-size: 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    color: #00A8A8;
}

#left {
    margin-right: 150px;
}

.navbar ol {
    list-style:none; 
}

#me {
    margin: 20px;
}

.intro { 
    margin-left: 46px;
}

#welcome-station {
    margin-top: 45px;
}

#welcome-station h1 {
    margin: 5px;
}

#welcome-station p {
    margin: 5px; 
}

#projects h1 {
    margin: 5px;
}

.projects-container {
    /* make a card and let the cards wrap */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    margin: 20px;
    border: 1px solid #00A8A8;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    justify-content: center;
    width: 45%;
    background: transparent;
}

.project-title h3 {
    margin: 5px;
}

.links {
    width: 450px;
}

#calculator {
    height: 350px;
}

/* create a media query that makes the cards wrap */
@media (max-width: 500px) {
    .projects-container {
        flex-direction: column;
        width: 80%;
        align-content: center;
        padding: 10px;
        margin: 15px;
    }

    .navbar {
        flex-direction: column;
    }

    .links {
        width: 100%;
    }
}