* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #C4DBE0;
}

body {
    font-family: 'Georgia', 'Helvetica';
    background: #fafafa;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin: 15px;
    padding: 5px;
    font-size: 25px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    color: #00A8A8;
}

#left {
    margin-right: 150px;
}

.navbar ol {
    list-style:none; 
}

img {
    width: 75px;
    border-radius: 30%;
}